/* This CSS file defines the style for index.html */

    html {
    height: 100%;
    width: 100%;
    }

  body {
    background-color: #F2C9F5
  }

h1 {
  background-color: #FDE4FF;
  color:hsl(220deg, 28%, 47%);
  padding: 40px;
  text-align:center;
}

p {
  background-color: rgb(253 231 255)
}

h5 { background-color: #FDE4FF;
  color: rgb(52 150 155);
  padding: 40px;
  text-align:center;
}