/* This CSS file defines the style for index.html*/
html {
  height: 100%;
  width: 100%;
}

body {
  background-color:#16E2F7
  ;
  }

h1 { background-color:#F3F7B8
 ;
    color:hsl(190,97%,25%) ;
    padding: 40px;
    text-align:center;
    }

p {
  background-color:#F3F7B8
   ;
  text-align:center;
}

h5 { background-color:#F3F7B8
 ;
    color:rgb(52,150,155);
    padding: 40px;
    text-align:center;
    }

img src {
  text-align:center;
}
